.App {
  text-align: center;
  color: blue;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* body{
   overflow: hidden; 
} */
#nav1 {
  /* border: 2px solid #000205; */
  /* background-color: #10437e; */
  background-color: #045e6e;
  position: sticky;
  top: -10px;
  /* height: 80px; */
  animation-name: nav1Anima;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#nav1::before {
  /* border: 2px solid #000205; */
  /* background-color: #10437e; */
  background-color: #045e6e;
  position: absolute;
  top: 0px;
  left: 10px;
  bottom: 10px;
  /* height: 100px; */
  /* animation-name: nav1Anima;
  animation-duration: 1s;
  animation-iteration-count: infinite; */
}


#nav1 ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 2%;
  margin-top: -16px;
  height: 100px;
  /* overflow-x: hidden; */
}

nav li {
  list-style: none;

  /* color: #cccccc; */
}

#navbox1 {
  border: none;
  height: 98%;
  width: auto;
}

/* .navbox:hover {
  border: 1px solid #cccccc;
}

#navbox1:hover {
  border: 1px solid #cccccc;
} */

.namratalogo {
  margin-top: 10%;
  height: 60px;
  width: auto;
  cursor: pointer;
}

#navbox2 {
  padding-top: 50px;
  padding-left: 50px;
  /* display: block; */
  color: #b3b0b0;
  height: 45px;
  width: 20%;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

#navbox3 {
  height: 45px;
  width: 100px;
  padding-top: 50px;
  margin: 0px;
  /* cursor: pointer; */
}

#navbox4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 1200px;
  margin-top: 10px;
}


#navbox4 #selector {
  /* background-color: #10437e; */
  background-color: #045e6e;
  color: #ffffff;
  font-size: 18px;
  border: none;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
  animation-name: nav1Anima;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#navbox4 #search {
  background-color: #e6e1db;
  /* display: inline; */
  padding-left: 10px;
  border: none;
  height: 30px;
  width: 190px;
  border-radius: 45px 0px 0px 45px;
}

#navbox4 #button {
  background-color: #febd69;
  /* display: inline; */
  color: #440303;
  font-size: 15px;
  border-radius: 0px 45px 45px 0px;
  ;
  color: rgb(32, 19, 5);
  height: 30px;
  width: 50px;
  border: none;
  cursor: pointer;
}

#navbox5 {
  color: #cccccc;
  display: block;
  /* background-color: #10437e; */
  background-color: #045e6e;
  margin-top: 15px;
  padding-left: 15px;
  cursor: pointer;
  /* width: 20%;
  height: 90%; */
  animation-name: nav1Anima;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#navbox5 select {
  /* background-color: #10437e; */
  background-color: #045e6e;
  color: #f3f3f3;
  border: none;
  height: 80px;
  width: 70px;
  font-size: 16px;
  animation-name: nav1Anima;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#navbox6 {
  width: 10%;
  color: #cccccc;
  height: 50px;
  padding-top: 45px;
  padding-left: 2%;
}

#navbox7 {
  color: #f3f3f3;
  height: 50px;
  width: 10%;
  padding-top: 50px;

}

#nav2 {
  /* background-color: #ee5a05; */
  background-color: #9b1414;
  color: #f3f3f3;
  height: 70px;
  /* margin-right: 0.15%; */
  padding-right: 2%;
  display: flex;
  align-items: center;
  /* border: 2px solid #000205; */
  justify-content: space-between;
  flex-wrap: wrap;
  animation-name: nav2Anima;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#nav2box {
  display: flex;
  width: 500px;
  padding-left: 25px;
  justify-content: space-between;
}

#login {
  /* background:#01494e; */
  background: #741e04;
  color: #e0a8d7;
  margin-right: 30px;
  height: 40px;
  width: 80px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 25px;
  animation-name: logAnima;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  /* animation-timing-function: ease-in-out; */
}

@keyframes nav1Anima {
  from {
      background-color: #063c7a;
  }

  to {
      background-color: #045e6e;
  }
}

@keyframes nav2Anima {
  from {
      background-color: #ee5a05;
  }

  to {
      background-color: #da1717;
  }
}

@keyframes logAnima {
  from {
      background: #026e14;
  }

  to {
      background: #041870;

  }
}

/* about section */
#aboutImg {
  height: 450px;
  width: 99.8%;
  /* margin-right: 0.15%; */
  border: 1px solid #413f3f;
}

#aboutComment {
  background-color: #f3f3f3;
  margin: 2% 0% 0% 0px;
  padding: 15px;
  width: 97.8%;
  display: inline-flex;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #741e04;
  border-bottom: 2px solid #131210;
  padding: 5%;
  /* animation-name: aboutAnima;
  animation-duration: 6s;
  animation-iteration-count: infinite; */
}

#serviceSection {
  height: 700px;
  width: 99.5%;
  padding-top: 5%;
  background: #ffffff;
  border: solid #febd69;
  border-radius: 45px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.serviceSection {
  height: 300px;
  width: 400px;
  /* border: 1px solid #131921; */
  background-color: #ffffff;
  border-radius: 40px;
  /* animation-name: serviceAnima;
  animation-duration: 1s;
  animation-iteration-count: infinite; */
}

.serviceSection div {
  margin: 10% 10%;
  padding: 2%;
  height: 200px;
  width: 300px;
  background-size: cover;
  border: 5px solid #131921;
  background-color: #f3efef;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  animation-name: aboutAnima;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;

}

.serviceSection div img {
  visibility: hidden;
  margin-top: 1%;
  margin-left: 2%;
  /* padding: 8%; */
  height: 120px;
  width: 280px;
  border-radius: none;
  /* overflow: hidden; */
}

/* .serviceSection div:hover {
  background-size: cover;
  background-color: #f3efef;
}*/
.serviceSection:hover {
  border: 5px solid #131921;
  /* border: 1px solid #131921;  */
  background-color: #f3efef;
  border-radius: 30px;
}

.serviceSection div h2 {
  text-align: center;
  /* padding: 5px; */
  color: #440303;
}

.bigsection {
  height: 700px;
  width: 99.5%;
  padding-top: 5%;
  background: #131210;
  border: solid #febd69;
  border-radius: 45px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imgsection {
  height: 150px;
  width: 300px;
  /* border: 1px solid #131921; */
  animation-name: aboutAnima;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.image {
  margin: 5% 5%;
  height: 120px;
  width: 270px;
  background-size: cover;
  border: 1px solid #131921;
  border-radius: 10px;
}

@keyframes aboutAnima {
  0% {
      /* background-color: rgb(177, 113, 113); */
      transform: rotateY(0deg);
  }

  50% {
      /* background-color: rgb(66, 202, 89); */
      transform: rotateY(90deg);
  }

  /* 50%{background-color:rgb(83, 165, 97);  transform: rotateY(270deg);} */
  /* 75%{background-color:green;  transform: rotateY(270deg);} */
  100% {
      /* background-color: rgb(152, 185, 228); */
      transform: rotateY(0deg);
  }
}

@keyframes serviceAnima {
  from {
      background-color: #d9dce0;
  }

  to {
      background-color: #cde3e7;
  }
}


/* footer */
footer {
  margin-top: 5%;
  /* padding-top: 5%; */
  color: #faf5ef;
  background-color: #045e6e;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer ul {
  padding-left: 3%;
  background-color: #045e6e;
  color: #faf5ef;
}

footer ul li select {
  color: #faf5ef;
  background-color: #045e6e;
  border: none;
  margin-left: -5px;
  font-size: 15px;
  /* height: 50px; */
}

footer ul li img {
  width: 200px;
}

footer ul li {
  list-style: none;
  /* height: 30px; */
  /* align-self: baseline; */
  padding-top: 2%;
}

#footBox1 {
  color: #faf5ef;
  background-color: #045e6e;
  height: 60%;
  width: 400px;
}

footer h2 {
  color: #c08831;
  ;
}

@media (max-width: 650px){
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body {
      height: 100%;
      width: 100%;
  
  }
  #nav1 {
      background-color: #045e6e;
      /* border: 1px solid #a7ce1a; */
      width: 100%;
      height: 100%;
      margin-right: 0%;
      padding-left: 0%;
      position: sticky;
  }
  
  #nav1::before {
      /* border: 2px solid #000205; */
      /* background-color: #10437e; */
      background-color: #045e6e;
      position: absolute;
      top: 0px;
      left: 10px;
      bottom: 10px;  
  }

  #nav1 ul {
      /* border: 1px solid #db0808; */
      padding-left: 0.5%;
      
  }

  #navbox1 {
      margin-top: 4%;
      height: 85%;
  }
  
  .namratalogo {
      margin-top: 40%;
      height: 20px;
      width: 95%;
  }
  #navbox2 {
      margin-top: 4%;
      padding-top: 35px;
      padding-left: 0%;
      height: 85%;
      width: 12%;
  }

  #navbox3 {
      height: 85%;
      width: 88px;
      padding-top: 35px;
      padding-left: 3px;
      margin-top: 4%;
  }
  #navbox4 {
      display: none;
  }

  #navbox5 {
      color: #cccccc;
      display: block;
      /* background-color: #10437e; */
      background-color: #045e6e;
      /* margin-top: 15px; */
      padding-left: 0px;
  }
  
  #navbox5 select {
      /* background-color: #10437e; */
      background-color: #045e6e;
      color: #f3f3f3;
      border: none;
      height: 80px;
      width: 70px;
  }
  
  #navbox6 {
      width: 12%;
      color: #cccccc;
      height: 85px;
      padding-top: 35px;
      padding-left: 0%;
      margin-top: 4%;
  }
  
  #navbox7 {
      color: #f3f3f3;
      height: 85px;
      width: 12%;
      padding-top: 35px;
      margin-top: 4%;
  }
  .navbox:hover {
      border: 1px solid #cccccc;
  }

  #nav2 {
      /* background-color: #ee5a05; */
      background-color: #9b1414;
      color: #f3f3f3;
      /* width: 400px; */
  }
  #nav2box {
      display: flex;
      width: 375px;
      padding-left: 2px;
      justify-content: space-between;
  }
  #navbox1:hover {
      border: 1px solid #cccccc;
  }
  #serviceSection {
      height: 1800px;
  }
  .bigsection {
      height: 2000px;
  }

  #nav2 {
      /* background-color: #ee5a05; */
      background-color: #9b1414;
      color: #f3f3f3;
      /* width: 400px; */
  }
}

@media (min-width: 651px) and(max-width: 829px) {
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      height: 100%;
      width: 100%;
  }

  

  #nav1 {
      /* border: 2px solid #000205; */
      /* background-color: #10437e; */
      background-color: #045e6e;
      position: sticky;
      top: -10px;
      margin-left: 0%;
      /* height: 80px; */
      animation-name: nav1Anima;
      animation-duration: 1s;
      animation-iteration-count: infinite;
  }

  #nav1::before {
      /* border: 2px solid #000205; */
      /* background-color: #10437e; */
      background-color: #045e6e;
      position: absolute;
      top: 0px;
      left: 10px;
      bottom: 10px;
      /* height: 100px; */
      animation-name: nav1Anima;
      animation-duration: 1s;
      animation-iteration-count: infinite;
  }

  #nav1 ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-right: 0%;
      margin-top: -16px;
      height: 120px;
      /* overflow-x: hidden; */
  }

  nav li {
      list-style: none;

      /* color: #cccccc; */
  }



  #navbox1 {
      border: none;
      margin-top: 1%;
      height: 90%;
      width: auto;
  }


  .namratalogo {
      margin-top: 30%;
      height: 30px;
      width: auto;
  }

  #navbox2 {
      margin-top: 1%;
      padding-top: 45px;
      padding-left: 1%;
      height: 90%;
      width: 8%;
  }

  #navbox3 {
      height: 90%;
      /* width: 100px; */
      padding-top: 45px;
      padding-left: 5px;
      margin-top: 1%;
  }

  #navbox4 {
      display: none;
  }

  #navbox5 {
      margin-top: 1%;
      height: 90%;
      padding-top: 15px;
      padding-left: 9px;
  }

  #navbox6 {
      width: 10%;
      height: 90%;
      padding-top: 45px;
      padding-left: 2%;
      margin-top: 1%;
  }

  #navbox7 {
      height: 90%;
      width: 10%;
      padding-top: 45px;
      padding-left: 1%;
      margin-top: 1%;
  }


  #serviceSection {
      height: 1900px;
  }
  .bigsection {
      height: 1100px;
  }

}

@media (min-width: 830px) and (max-width: 1024px) {
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      height: 100%;
      width: 100%;
  }

  /* 
  #nav1 {
      top: -10px;  
  } */

  /* #nav1::before {
      
      background-color: #045e6e;
      position: absolute;
      top: 0px;
      left: 10px;
      bottom: 10px;
      animation-name: nav1Anima;
      animation-duration: 1s;
      animation-iteration-count: infinite;
  } */

  #nav1 ul {
      padding-right: 1%;
      margin-left: 0.5%;
      margin-top: -16px;
      height: 120px;
      /* overflow-x: hidden; */
  }

  #navbox1 {
      border: none;
      margin-top: 1%;
      height: 90%;
      width: auto;
  }

  #navbox2 {
      margin-top: 1%;
      padding-top: 45px;
      padding-left: 1%;
      height: 90%;
      width: 8%;
  }

  #navbox3 {
      height: 90%;
      padding-top: 45px;
      padding-left: 5px;
      margin-top: 1%;
  }

  #navbox4 {
      display: none;
  }

  #navbox5 {
      margin-top: 1%;
      height: 90%;
      padding-top: 15px;
      padding-left: 9px;
  }

  #navbox6 {
      width: 10%;
      height: 90%;
      padding-top: 45px;
      padding-left: 2%;
      margin-top: 1%;
  }

  #navbox7 {
      height: 90%;
      width: 10%;
      padding-top: 45px;
      padding-left: 1%;
      margin-top: 1%;
  }

  .bigsection {
      height: 1200px;
      /* width: 99.5%;
      padding-top: 5%; */
  }

  #serviceSection {
      height: 1000px;
      /* width: 99.5%;
      padding-top: 5%;
      */
  }
}